{% extends 'base.html' %}
{% load i18n %}
{% block title %}Liste d'enseignants | {% trans 'eCEP' %}{% endblock title %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Accueil' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Enseignants' %}</li>
    </ol>
</nav>

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-primary" href="{% url 'add_lecturer' %}"><i class="fas fa-plus"></i>{% trans 'Ajouter un enseignant' %}</a>
    <a class="btn btn-primary" target="_blank" href="{% url 'lecturer_list_pdf' %}"><i class="fas fa-download"></i> {% trans 'Télécharger un PDF' %}</a><!--new-->
</div>
{% endif %}

<p class="title-1"><i class="fas fa-chalkboard-teacher"></i>{% trans 'Enseignants' %}</p>

{% include 'snippets/messages.html' %}
{% include 'snippets/filter_form.html' %}

<div class="table-responsive table-shadow table-light table-striped m-0 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> {% trans 'Identifiant' %}' </th>
                <th> {% trans 'Nom complet' %} </th>
                <th> {% trans 'Email' %} </th>
                <th> {% trans 'Numéro de téléphone' %} </th>
                <th> {% trans 'Addresse/ville' %} </th>
                <th> {% trans 'Dernière connexion' %}  </th>
                {% if request.user.is_superuser %}
                <th> {% trans 'Actions' %} </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for lecturer in filter.qs %}
            <tr>
                <td> {{ forloop.counter }}.</td>
                <td>{{ lecturer.username }}</td>
                <td><a href="{% url 'profile_single' lecturer.id %}">{{ lecturer.get_full_name }}</a></td>
                <td>{{ lecturer.email }}</td>
                <td>{{ lecturer.phone }}</td>
                <td>{{ lecturer.address }}</td>
                <td>{{ lecturer.last_login }}</td>
                {% if request.user.is_superuser %}
                <td> 
                    <div class="dropdown">
                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'staff_edit' pk=lecturer.pk %}"><i class="unstyled me-2 fas fa-edit"></i>{% trans 'Update' %}</a></li>
                          <li><a class="dropdown-item"  target="_blank" href="{% url 'profile_single' lecturer.id %}?download_pdf=1"><i class="unstyled me-2 fas fa-download"></i>{% trans 'Download PDF' %}</a></li>
                          <a class="dropdown-item" href="{% url 'assign_students' lecturer.id %}" class="btn btn-info">Assigner des étudiants</a>
                          <a class="dropdown-item" href="{% url 'lecturer_student_list' lecturer.id %}" class="btn btn-info">étudiants assignés</a>
                          <li><a class="dropdown-item text-danger" href="{% url 'lecturer_delete' pk=lecturer.pk %}"><i class="unstyled me-2 fas fa-trash-alt"></i> {% trans 'Delete' %}</a></li>
                        </ul>
                    </div>
                </td>
                {% endif %}
                
                {% empty %}
                <tr>
                  <td colspan="8">
                  <span class="text-danger">
                    {% trans "Pas encore d'enseignant" %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_lecturer' %}">
                    <i class="primary" style="font-size: 22px;">
                        {% trans 'Ajouter un enseignant.' %}
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

