/* HERO SECTION */
.hero {
    background-image: url('../img/sawadogo.jpg');
    /* Vérifie le chemin */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h6 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    font-size: 2rem;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff5733;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}