{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ video.title }} | {% trans 'eCEP' %}{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Accueil' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'course_detail' video.course.slug %}">{{ video.course }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ video.title }}</li>
    </ol>
</nav>
    
<p class="title-1">{{ video.title }}</p>
<br><br>

<div class="col-md-10 mx-auto d-block">
    <div class="">
        <video src="{{ video.video.url }}" controls></video>
    </div>
    <p><i class="fas fa-calendar"></i>{% trans 'Il y a' %} {{ video.timestamp|timesince }}</p>
    {% if video.summary %}
    <p class="text-orange text-center">{{ video.summary }}</p>
    {% else %}
    {% trans 'Pas de description pour cette vidéo.' %}
    {% endif %}
</div>

<!-- Section des commentaires -->
<div class="mt-5">
    <h3>{% trans 'Commentaires' %}</h3>
    {% if video.comments.all %}
        <ul class="list-unstyled">
            {% for comment in video.comments.all %}
                <li class="mb-3">
                    <div class="card">
                        <div class="card-body">
                            <strong>{{ comment.user.username }}</strong>
                            <small class="text-muted"> - {% trans 'ago' %} {{ comment.timestamp|timesince }}</small>
                            <p class="mt-2">{{ comment.content }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'Pas encore de commentaire' %}</p>
    {% endif %}
</div>

<!-- Formulaire pour ajouter un commentaire -->
{% if request.user.is_authenticated %}
<div class="mt-4">
    <h4>{% trans 'Ajouter un commentaire' %}</h4>
    <form method="post" action="{% url 'add_comment_to_video' video.id %}">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="content" class="form-control" rows="3" placeholder="{% trans 'Ton commentaire...' %}" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{% trans 'Envoyer' %}</button>
    </form>
</div>
{% endif %}

{% endblock content %}