{% load static %}
{% load i18n %}

<div id="side-nav">
	<div class="main-menu">
		<div class="top-side text-center py-4" style="background-image: url({% static 'img/dotted.jpg' %});">
			<div class="desktop-hide">
				<div class="toggle-btn" onclick="toggleSidebar()">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<a href="/">
				<img src="{% static 'img/brand.jpg' %}" width="210px" alt="SkyLearn">
			</a>
			<p class="mt-2 small">
				{% if request.user.is_superuser %}
					<mark class="bg-secondary text-light" style="border-radius: 2px; padding: 2px 5px;">
						{% trans 'Administrateur' %}
					</mark>
				{% elif request.user.is_lecturer %}
					<mark class="bg-secondary text-light" style="border-radius: 2px; padding: 2px 5px;">
						{% trans 'Enseignant' %}
                    </mark>
				{% elif request.user.is_student %}
					<mark class="bg-secondary text-light" style="border-radius: 2px; padding: 2px 5px;">
						{% trans 'Elève' %}

					</mark>
				{% elif request.user.is_parent %}
					<mark class="bg-secondary text-light" style="border-radius: 2px; padding: 2px 5px;">
						{% trans 'Parent' %}
					</mark>
				{% endif %}
			</p>
		</div>
		{% url 'home' as hom %} {% url 'dashboard' as dash %} {% url 'profile' as prof %}
		{% url 'lecturer_list' as lec %}
		{% url 'student_list' as stu %} {% url 'course_allocation_view' as cav %}
		{% url 'programs' as pro %} {% url 'session_list' as sess %} {% url 'semester_list' as sem %}
		{% url 'add_score' as ascore %} {% url 'grade_results' as vr %}{% url 'ass_results' as ar %}
		{% url 'course_registration' as cr %} {% url 'edit_profile' as ep %} {% url 'change_password' as cp %}
		{% url 'quiz_progress' as qpr %} {% url 'quiz_marking' as qce %} {% url 'user_course_list' as ucl %}
		{% url 'admin_panel' as admin_p %}
		


		<ul>
			{% if request.user.is_superuser %}
			<li class="{% if request.path == dash %}active{% endif %}">
				<a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>{% trans 'Tableau de bord' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_parent %}
			<li class="{% if request.path == '/parent_dashboard/' %}active{% endif %}">
				<a href="{% url 'parentdashboard' %}"><i class="fas fa-tachometer-alt"></i>{% trans 'Tableau de bord du parent' %}</a>
			</li>
			{% endif %}
			{% if request.user.is_lecturer %}
			<li class="{% if request.path == dash %}active{% endif %}">
				<a href="{% url 'lecturerdashboard' %}"><i class="fas fa-tachometer-alt"></i>{% trans 'Tableau de bord' %}</a>
			</li>
			{% endif %}
			<li class="{% if request.path == hom %}active{% endif %}">
				<a href="{% url 'home' %}"><i class="fas fa-home"></i>{% trans 'Accueil' %}</a>
			</li>
			<li class="{% if request.path == prof %}active{% endif %}">
				<a href="{% url 'profile' %}"><i class="fas fa-user"></i>{% trans 'Profil' %}</a>
			</li>

			{% if request.user.is_parent %}

			<li class="{% if request.path == '/accounts/child_profile/' %}active{% endif %}">
				<a href="{% url 'child_profile' %}"><i class="fas fa-tachometer-alt"></i>{% trans "Profil de l'élève" %}</a>
			</li>
			{% endif %}
			{% if request.user.is_superuser %}
			<li class="{% if request.path == admin_p %}active{% endif %}">
				<a href="{% url 'admin_panel' %}"><i class="fas fa-user-tie"></i>{% trans 'Panneau de configuration administrateur' %}</a>
			</li>
			<li class="{% if request.path == lec %}active{% endif %}">
				<a href="{% url 'lecturer_list' %}"><i class="fas fa-chalkboard-teacher"></i>{% trans 'Enseignants' %}</a>
			</li>
			<li class="{% if request.path == stu %}active{% endif %}">
				<a href="{% url 'student_list' %}"><i class="fas fa-user-graduate"></i>{% trans 'Elèves' %}</a>
			</li>
			<li class="{% if request.path == '/accounts/parents/add/' %}active{% endif %}">
				<a href="{% url 'add_parent' %}"><i class="fas fa-solid fa-user"></i>{% trans 'Enregistrer un parent' %}</a>
			</li>
			
			{% endif %}
			{% if request.user.is_student%}
				<li class="{% if request.path == pro %}active{% endif %}">
				<a href="{% url 'program_detail' %}"><i class="fas fa-book-open"></i>{% trans 'Cours' %}</a>
			</li>
			{% endif %}
			{% if request.user.is_lecturer or request.user.is_student %}
			<li class="{% if request.path == ucl %}active{% endif %}">
				<a href="{% url 'user_course_list' %}"><i class="fas fa-book"></i>{% trans 'Mes cours' %}</a>
			</li>
			{% endif %}




			{% if request.user.is_superuser or request.user.is_lecturer %}
			<li class="{% if request.path == '/programs/courses/detail/' %}active{% endif %}">
				<a href="{% url 'program_detail' %}"><i class="fas fa-book-open"></i>{% trans 'Cours' %}</a>
			</li>
			{% endif %}



			{% if request.user.is_superuser %}
			<li class="{% if request.path == qpr %}active{% endif %}">
				<a href="{% url 'quiz_progress' %}"><i class="fas fa-record-vinyl"></i>{% trans 'Progression' %}</a>
			</li>
			<li class="{% if request.path == cav %}active{% endif %}">
				<a href="{% url 'course_allocation_view' %}"><i class="fas fa-tasks"></i>{% trans 'Allocation des cours' %}</a>
			</li>
			
			<li class="{% if request.path == '/accounts/lecturers_assignments/' %}active{% endif %}">
				<a href="{% url 'lecturer_assign_list' %}"><i class="fas fa-solid fa-user-check"></i>{% trans "Assignation d'étudiants" %}</a>
			</li>

			<li class="{% if request.path == sess %}active{% endif %}">
				<a href="{% url 'session_list' %}"><i class="fas fa-calendar-week"></i>{% trans 'Année scolaires' %}</a>
			</li>
			<li class="{% if request.path == sem %}active{% endif %}">
				<a href="{% url 'semester_list' %}"><i class="fas fa-calendar-alt"></i>{% trans 'Trimestres' %}</a>
			</li>

			<li class="{% if request.path == '/examen/' %}active{% endif %}">
				<a href="{% url 'examen_list' %}"><i class="fas fa-solid fa-file-pen"></i>{% trans 'Examens' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_lecturer %}
			<li class="{% if request.path == ascore %}active{% endif %}">
				<a href="{% url 'add_score' %}"><i class="fas fa-table"></i>{% trans 'Scores' %}</a>
			</li>

			<li class="{% if request.path == ucl %}active{% endif %}">
				<a href="{% url 'lecturer_student_list' request.user.id%}"><i class="fas fa-user-graduate"></i>{% trans 'Mes étudiants' %}</a>
			</li>

			<li class="{% if request.path == '/examen/' %}active{% endif %}">
				<a href="{% url 'examen_list'%}"><i class="fas fa-solid fa-file-pen"></i>{% trans 'Examens' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_student %}
			<li class="{% if request.path == qpr %}active{% endif %}">
				<a href="{% url 'quiz_progress' %}"><i class="fas fa-record-vinyl"></i>{% trans 'Progression' %}</a>
			</li>
			<li class="{% if request.path == cr %}active{% endif %}">
				<a href="{% url 'course_registration' %}"><i class="fas fa-plus"></i>{% trans 'Ajouer' %} &amp; {% trans 'supprimer des cours' %}</a>
			</li>
			<li class="{% if request.path == '/examen/' %}active{% endif %}">
				<a href="{% url 'examen_list' %}"><i class="fas fa-solid fa-file-pen"></i>{% trans 'Examens' %}</a>
			</li>
			<li class="{% if request.path == '/dictionnary/dictionnary' %}active{% endif %}">
				<a href="{% url 'word' %}"><i class="fas fa-book"></i>{% trans 'Dictionnaire' %}</a>
			</li>
			<li class="{% if request.path == '/chatbot/chatbot' %}active{% endif %}">
				<a href="{% url 'chatbot' %}"><i class=" fas fa-solid fa-robot"></i>{% trans 'Assistant IA' %}</a>
			</li>
			<li class="{% if request.path == '/mychatapp/' %}active{% endif %}">
				<a href="{% url 'chat' %}"><i class="fas fa-comments"></i>{% trans 'Espace chat'%}</a>
			</li>
			<li class="{% if request.path == '/forum/{{name}}' %}active{% endif %}">
				<a href="{% url 'rooms' %}"><i class="fas fa-solid fa-user-group"></i>{% trans 'Forum' %}</a>
			</li>
			{% endif %}

			<br />
			<li class="{% if request.path == ep %}active{% endif %}">
				<a href="{% url 'edit_profile' %}"><i class="fas fa-cogs"></i>{% trans 'Paramètre de compte' %}</a>
			</li>
			<li class="{% if request.path == cp %}active{% endif %}">
				<a href="{% url 'change_password' %}"><i class="fas fa-key"></i>{% trans 'Changer de mot de passe' %}</a>
			</li>
		</ul>
	</div>

</div>

{% block js %}
<script>
	document.getElementById("lang-select").addEventListener("change", function() {
		console.log("Changed!")
    	document.getElementById("lang-form").submit();  // Submit the form programmatically
	});
</script>
{% endblock js %}